
*{
  margin: 0;
  padding: 0;
  font-family: verdana;
}

#main{
  width: 100%;
  height: 100vh;
}

nav{
  width: 100%;
  height:80px;
  background-color: #000; 
  line-height: 80px;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
}
nav ul li:hover{
  background-color: #f39d1a;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}
#mainContact {
  width: 940px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#mainContact h2 {
  font-size: 30px;
  color: #2073a8;
  background-color: #ddeff7;
  margin-bottom: 40px;
  padding: 8px 0px 8px 5px;
  width: 940px;
}

#contactArea {
  width: 469px;
  border-right: solid 1px #CCC;
  margin-bottom: 30px;
}


#contactText {
  font-size: 21px;
  margin-bottom: 30px;
  width: 340px;
}

#contactForm {
  margin-top: 30px;
}

fieldset {
  border: none;
  padding: 0px;
}


input, textarea  {
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  height: 10px;
  background-color: #efefef;
  display: block;
  border: 1px solid #999;
  color: #333;
}

#comments {
  width: 360px;
  height: 200px;
}

#submit {
  display: block;
  width: 75px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #2073a8;
  font-size: 14px;
  border: 1px solid #003471;
}

#mapArea {
  width: 380px;
  margin-left: 90px;
}


#mapArea h3 {
  font-size: 21px;
  margin-top: 0;
  color: #2073a8;
}

#mapArea ul {
  list-style-type: none;
  padding: 0;
} 

/*-- Start Footer --*/

.mainFooter {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: #ccc;
  justify-content: flex-start;
  height: 125px;
}

.logoNav {
  display: flex;
  flex-direction: column;
}

.logoFooter {
  margin-top: 25px;
  margin-bottom: 20px; /*for nav underneath, nav can't use margin on floated element above*/
  margin-left: 20px;
}

.footerNav {
  width: 380px;
  height: 25px;
  margin-left: 20px;
}

.footerNav ul {
  padding: 0;
  list-style-type: none;
  width: 500px;
  margin-left: 0;
}

.footerNav ul li { 
  cursor: pointer;
  display: inline;
  margin-right: 25px;
  font-size: 12px;  
}

.footerNav ul li a {
  color: #333;
}

.footerNav ul li a:hover {
  color: #999;
}
