*{
  margin: 0;
  padding: 0;
  font-family: verdana;
}

#main{
  width: 100%;
  height: 100vh;
}

nav{
  width: 100%;
  height:80px;
  background-color: #000; 
  line-height: 80px;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
}
nav ul li:hover{
  background-color: #f39d1a;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}

#images {
  display: flex;
  justify-content: center;
}

#images
div {
  width: 400px;
  margin: 20px;
  text-align: center;
  line-height: 400px;
  font-size: 50px;
  height: 400px;
}

#text {
  display: flex;
  justify-content: center;
}

#text
div{
  background-color: red;
  width: 400px;
  height: 400px;
  margin-left: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-family: 'Lemonada', cursive;
}
.h1{
  font-size: 20px;
  margin-left: 120px;
  width: 300px;
  font-size: 25px;
  font-family: 'Lemonada', cursive;
  font-family: 'Coda Caption', sans-serif;
}
.h2{
  font-size: 20px;
  margin-left:600px;
  width: 300px;
  font-size: 25px;
  font-family: 'Lemonada', cursive;
  font-family: 'Coda Caption', sans-serif;
}
.h3{
  font-size: 20px;
  margin-left: 1200px;
  width: 300px;
  font-size: 25px;
  font-family: 'Lemonada', cursive;
  font-family: 'Coda Caption', sans-serif;
}


.p1{
  font-size: 15px;
  margin-left: 120px;
  font-family: 'Lemonada', cursive;
}

.p2{
  font-size: 15px;
  margin-left: 120px;
  font-family: 'Lemonada', cursive;
}

.p3{
  font-size: 15px;
  margin-left: 120px;
  font-family: 'Lemonada', cursive;
}
#font
{
  font-family: 'Kelly Slab', cursive;
  font-size: 30px;
}